.venv/
venv/
env/
ENV/
Lib/
Scripts
share
pyvenv.cfg
.env
dataset/
runs/ 

__pycache__/
*.sqlite3
*.db
.DB_STORE

epp-autonomous-vehicle-construction-1/
epp-autonomous-vehicle-construction-2/
epp-autonomous-vehicle-construction-3/