<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <link rel="icon" type="image/png" href="../static/Logotipo.png">
    <title>TESI Project | Control de Vehículo</title>
</head>
<body class="sidebar-collapsed">
    <nav>
        <button id="toggleSidebar"><img src="../static/img/icon_menu.svg" height="40rem"></button>
        <img src="../static/img/Logotipo.png" class="logo" width="10%">
        <span>
            CONTROL VEHÍCULO AUTÓNOMO EPP
        </span>
        <div class="card-conx">
            <img src="../static/img/connected_icon.svg" width="12rem">
            Conectado
        </div>
        <img src="../static/img/settings_icon.svg" width="50rem">
        <img src="../static/img/w_light_icon.svg" width="50rem">
        <img src="../static/img/icon_profile.svg" width="50rem">
    </nav>
    <aside class="sidebar">
        <div class="card">
            <img src="../static/img/home.svg" width="30rem"> 
            <span class="">Inicio</span>
        </div>
              <div class="card">
            <img src="../static/img/stats_white.svg" width="30rem"> 
            <span class="">Reportes</span>
        </div>
        <div class="card">
            <img src="../static/img/print_white.svg" width="30rem"> 
            <span class="">Descargar Logs</span>
        </div>
          <div class="card">
            <img src="../static/img/control_white.svg" width="30rem"> 
            <span class="">Control</span>
        </div>
    </aside>
    <main>

        <div class="card video-card">
        
        <span class="video-span"><img src="../static/img/b_icon_wifi_low.svg" width="14rem">&nbsp;En Directo</span>
        <img id="video-trans" src="/video_feed" width="1080" height="720" style="border: 3px solid rgb(255, 255, 255);" alt="Transmisión">
        </div>


    </main>
    <section class="info">
        <div class="txt-sections">
            <img src="../static/img/stats_icon.svg" width="40rem">
            Estadísticas
        </div>
        <div class="card-chart">
            
        </div>
        <div class="card-chart"></div>
        <div class="card-chart" id="epp">EPP NO DETECTADO SONANDO ALARMAAAAA</div>
    </section>
        
</body>
<footer>
    <div class="status">
        <ul>
<li class="status-conx">Conexión Cámara</li>
<li class="status-conx">Conexión Ruedas</li>
<li class="status-conx">Tasa de Frames</li>

            <li class="status-conx2">Tiempo Activo: </li>
            <li class="status-conx2">Latencia:</li>
            <li class="status-conx2">Pérdida: </li>
        </ul>
    </div>
</footer>
<script src="{{url_for('static', filename='/js/script.js')}}"></script>
</html>