<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="../static/Logotipo.png">
    <title>TESI Project | Control de Vehículo</title>
</head>
<body>
    <nav>
        <img src="../static/Logotipo.png" width="10%">
        <span>
            CONTROL VEHÍCULO AUTÓNOMO EPP
        </span>
        
    </nav>
    <aside class="sidebar">
    </aside>
    <main>
        <div class="card">
<img src="/video_feed" width="640" height="480" style="border: 3px solid rgb(255, 255, 255);" alt="Transmisión">
        </div>


    </main>
    <section class="info">

    </section>
        
</body>
<footer>
    <div class="status">
        <ul>
<li>Conexión Cámara</li>
<li>Conexión Ruedas</li>
<li>Tasa de Frames</li>
        </ul>
        

    </div>
</footer>
</html>